



/* :root{
    --color-1: "492118";
    --color-2:  "#493a18";
--color-3: "#404918";
--color-4: "#274918";
--color-5: "#184921";
--color-6: "#18493a";
} */

:root{
    --color-1: rgb(222, 237, 158);
    --color-2: rgb(183, 237, 158);
    --color-3:rgb(158, 237, 173);
    --color-4: rgb(158, 237, 213);
    --color-5:rgb(158, 222, 237);
    --color-6: rgb(158, 183, 237);
}



