@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;600;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,200&family=Roboto:wght@100;300;400&family=Shadows+Into+Light&display=swap');



:root{
    --color-1: rgb(222, 237, 158);
    --color-2: rgb(183, 237, 158);
    --color-3:rgb(102, 167, 236);
    --color-4: rgb(23, 174, 129);
    --color-5:rgb(158, 222, 237);
    --color-6: rgb(35, 113, 216);
    --color-7: #387c92;
    --color-8: #273c75;
    --black-1: #353b48;
    --gray-1:#b2bec3;
    --yellow-1:#f6c31d;
    --yellow-2:#ffeaa7;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
position: relative;

}
i{
    cursor: pointer;
}
a{
    text-decoration: none;
    padding: 0 1rem;
    color: #000;
}
.navbar{
    display: flex;
 justify-content: space-between;
 height: 12vh;
 align-items: center;
font-size: 1.3rem;
   position: fixed;
   background: #fff;
   padding: 0 14px;
width: 100%;
   z-index: 99;
   box-shadow: 0  4px 41px rgba(0,0,0,0.5);
}
.logo{
    letter-spacing: 1.5px;
}
@media screen and (min-width:415px) {
    .navbar{
        font-size: 1.5rem;
       padding: 0 2.2rem;
    }
  
}
.menu_toggle{
color: var(--color-8);
z-index: 9;
}

.menu_toggle .fa-times{
display: none;
}

    .links{
        position: absolute;
        top: 12vh;
        right: 0;
        height: 0;
     left: -100%;
        overflow: hidden;
        transition: .6s;
    width: 100%;
    text-align: center;
    }
    .show{
        height: auto !important;
       left: 0;
        background: #fff;
        width: 100%;
        transition: .4s;
    }
 
.links li{
    margin: 2rem 0;
    list-style: none;
 transition: .3s;
 text-transform: lowercase;
}
.more_links li{

padding: .7rem ;
margin: 1rem 2rem;
color: #000;
border-radius: 10px;
cursor: pointer;
background: var(--color-8);

}
.more_links .open_cart{
    color: #fff;
    background: var(--color-8);
    display: block;
}
.more_links li a{
   color: #fff;
}
.phone_number, .open_cart{
    display: none;
}

@media screen and (min-width:800px) {
    .navbar{
        display: flex;
        justify-content: space-around;
    }
    .menu_toggle{
        display: none;
    }
  
.links{
    position: relative;
    top: 0;
    left: 0;

 height: auto;
    width: auto ;
}
.links li{
    position: relative;
    display: inline;
    margin: 0 1rem;
    background: none;
    
}
li a{
    color: var(--color-8);
}
.more_links{
    display: none;
  
}
}


.back_home {
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
  width: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
    text-transform: capitalize;
    background: none;
    border: none;
}
.back_home a{
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;

}

.blur{
    filter: blur(8px);
    transition: 1s ease;
}

@media screen and (min-width:800px) {
    .blur{
       
        filter: blur(0);
    }
}
.whole_container{
    /* position: relative; */
    transition: 1s ease;
    width: 100%;
}
.cart_store{
    position: fixed;
    top: 12vh;
    padding: 2rem;
    height: 100vh;
  
    display: none;
}
.cart_store.cart{
  
}
.show_cart{
    z-index: 99;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.cart_store .item_info{
    display: grid;
    gap: .5rem;
}


@media screen and (min-width:1200px) {
    .phone_number, .open_cart, .links{
        display:block;
      
    }
    .open_cart{
        background:var(--color-7);
        padding: 10px 16px;
        border-radius: 10px;
        cursor: pointer;
        color: #fff;
    }
}

.homepage{
  position: relative;

height: auto;
display: grid;
place-items: center;
    padding: 2rem;
    gap: 2rem 0;
    padding-top: 17vh;
}

.homepage .top{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;

}
.top h2{
    text-align: center;
    font-size: 2rem;
text-transform: capitalize;
letter-spacing: 2px;
color: var(--color-8);
}

.btn{
    padding: 10px 1.2rem;
    border-radius: 5px;
    border: none;
    background: var(--color-8);
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.signup_btn{
    background: var(--color-8);
 display: none;
}
.top .btn a{
    color: #fff;
}
.signup_btn a{
    color: #fff;
}
.top p span{
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-8);
}

.homepage .bottom{

   position: relative;
}
.homepage .bottom img{
    /* position: absolute; */
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.bottom .boxes{
    margin-top: 1rem;
   display: flex;
   gap: 1rem;
   flex-direction: column;
   align-items: center;
}
.bottom .boxes .box{
    padding:  10px;
    max-width: 300px;
    border-radius: 10px;
 border: 4px solid var(--color-7);
    color: var(--color-8);
    font-weight: bold;
}

@media screen and (min-width:800px) {
   .homepage{
display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  height: 100vh;
   } 
.homepage .top{
    flex: 1;
}
.homepage .top h2 span{
    font-size: 4rem;
    color: var(--color-7);
}
.homepage .bottom{
    height: 100%;
    flex:1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

   .signup_btn{
    display: block;
   }

   .boxes {
    position: relative;
    display: flex;
gap: 1rem;

   }
  
}


@media screen and (min-width:1000px) {
.top{
    text-align: left;

 
}
.top h2{
    font-size: 3rem;
}
}

.boxes .scrolled{
    opacity: 1;
    transition: .3s;

}
.boxes .box1{
    transition: 1s;

    transform: translateX(140px);
}
.boxes .box1.scrolled{
    transition: 1s ease;
    transform: translateX(0);
}
.boxes .box2{
    transition: 1s;

    transform: translateX(-140px);
}
.boxes .box2.scrolled{
    transition: 1s ease;
    transform: translateX(0);
}
.boxes .box3{
    transition: 1s;
color: var(--color-1);
    transform: translateY(-140px);
}
.boxes .box3.scrolled{
    transition: 1s ease;
    transform: translateY(0);
}



  

/* ----------------about---------------- */

.about{
    position: relative;
    width: 100%;
    height: 100vh;
display: flex;
flex-direction: column;
gap: 2rem;
justify-content: center;
align-items: center;
    padding:  1rem;
}



.about img{
border-radius: 5px;
height: 300px;
object-fit: cover;
 width: 100%;
 max-width: 450px;

}
.about h2{
    font-size: 1rem;
    line-height: 2;
}


@media screen and (min-width:800px){
  
    .about{
        display: flex;
       flex-direction: row;
       justify-content: center;
       gap: 3rem;
    }
    /* .about_content{
        background: rgba(15, 6, 187, 0.2);
        color: var(--color-8);
        letter-spacing: 2px;
        padding: 2rem;
        border-radius: 8px;
    } */
    .about img{
        height: 400px;
    }
}



/* -----------------footer ----------------- */
footer{
 width: 100%;

}
footer .content{
display: flex;
flex-direction: column;
gap: 1rem;
/* align-items: center;
justify-content: center; */
/* height: 70%; */
padding: 1rem;
text-align: center;
width: 100%;
padding: 1rem;
color: #fff;
background: var(--color-8);
}

